body {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  justify-content: center;
}
.container {
  display: grid;
  justify-content: center;
  padding: 1.5rem;
  margin: 0 auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.title {
  font-weight: bold;
  font-size: 1.875rem;
}
